# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# VENV
# =========================
venv/
.env/
.venv/

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.production

# =========================
# CRM DATA
# =========================
crm/data.json

# =========================
# LOGS
# =========================
*.log

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# NODE
# =========================
node_modules/

# =========================
# BUILD
# =========================
dist/
build/

# =========================
# CACHE
# =========================
.cache/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# SECRETS
# =========================
secrets/
private/